.city-table {
  width: 99%;
  margin-top: 30px;
  margin-bottom: 6px;
  border-collapse: collapse;
  color: var(--primary-black);
  border: 1px solid var(--primary-black);
  box-shadow: 6px 6px 0px 0px var(--primary-black);
  font-weight: bold;
}

.city-table th,
.city-table td {
  border: 1px solid var(--primary-black);
  padding: 11px;
  text-align: left;
}

.city-table th {
  background-color: var(--primary-yellow);
  color: var(--primary-black);
  height: 80px;
  font-size: 20px;
}

.city-table tr:nth-child(even) {
  background-color: var(--primary-white);
}

.city-table tr:hover {
  background-color: var(--secondary-light-blue);
}

/* Responsividade */
@media (max-width: 768px) {
  .city-table {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .city-table th,
  .city-table td {
    padding: 8px;
    font-size: 11px;
  }
}

/* Componente: Tabela de dados */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Componente: Ícones */
.icon-edit,
.icon-delete {
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-black);
  margin: 0 10px;
}

.icon-edit:hover,
.icon-delete:hover {
  opacity: 0.7;
}