.city-card {
background-color: #2185F7;
padding: 20px;
border-radius: 10px;
border: 2px solid #000000ff;
text-align: left;
color: white;
}

.weather-icon {
width: 80px;
height: 80px;
}

.separator {
margin: 15px 0;
}