.container {
text-align: center;
gap: 10px;

}

.city-grid-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-top: 30px;
justify-content: center;
width: 100%;
}

@media (min-width: 300px) {
.city-grid-container {
grid-template-columns: 1fr;
}
}

@media (min-width: 768px) {
.city-grid-container {
grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 1024px) {
.city-grid-container {
grid-template-columns: repeat(3, minmax(250px, 1fr));
}
}

