.container {
text-align: center;
gap: 10px;

}

.city-grid-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-top: 30px;
justify-content: center;
width: 100%;
}

@media (min-width: 300px) {
.city-grid-container {
grid-template-columns: 1fr;
}
}

@media (min-width: 768px) {
.city-grid-container {
grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 1024px) {
.city-grid-container {
grid-template-columns: repeat(3, minmax(250px, 1fr));
}
}

.manage-cities-btn {
  background-color: #fffc69ff;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: 6px 6px 0px 0px #000;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}


.manage-cities-btn:hover {
  box-shadow: 4px 4px 0px 0px #000;
  transform: translate(2px, 2px);
}

.manage-cities-btn:active {
  background-color: #e9c46a;
  box-shadow: 2px 2px 0px 0px #000;
  transform: translate(4px, 4px);
}