@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

:root {
  --branco-translucido: 255, 255, 255;
  --azul-translucido: 66, 140, 251;
}

html {
  margin: 0;
  padding: 60px;
  box-sizing: border-box;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

p {
  color: white;
}

.container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 40px;
    background-color: rgba(var(--branco-translucido), 0.1);
    backdrop-filter: blur(50px);
}

h1 {
  font-family: 'Notable', sans-serif;
  font-size: 40px;
  color: white;
}

button {
  /* Fundo e texto */
  background-color: #FF5A02;
  color: #000;

  font-size: 1rem;
  font-weight: bold;
  
  /* Borda e sombra */
  border: 2px solid #000;
  box-shadow: 6px 6px 0px 0px #000;
  
  /* Layout e espaçamento */
  padding: 12px 24px;
  cursor: pointer;
  
  /* Efeito de transição suave */
  transition: all 0.1s ease-in-out;

  border-radius: 15px;
}

button:hover {
  background-color: #d34c03ff;
  box-shadow: 4px 4px 0px 0px #000;
  transform: translate(2px, 2px);
}

button:active {
  background-color: #e9c46a;
  box-shadow: 2px 2px 0px 0px #000;
  transform: translate(4px, 4px);
}
