@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

html {
  margin: 0;
  box-sizing: border-box;
  background-color: #cad6e4ff;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
}

h2 {
  margin-bottom: 70px;
}

input {
  border-radius: 15px;
  border: 2px solid #000;
  height: 50px;
  padding-left: 20px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  width: 50%;
  font-weight: bold;
}

input::placeholder {
  color: #89a5c5ff;
}

.container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 50px;
}

h1 {
  font-family: 'Notable', sans-serif;
  font-size: 80px;
  color: black;
  letter-spacing: 10px;
}

button {
  background-color: #FF5A02;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: 6px 6px 0px 0px #000;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
  width: 200px;
}

button:hover {
  box-shadow: 4px 4px 0px 0px #000;
  transform: translate(2px, 2px);
}

button:active {
  background-color: #e9c46a;
  box-shadow: 2px 2px 0px 0px #000;
  transform: translate(4px, 4px);
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

hr {
  border: none;
  border-top: 2px solid #000;
  margin: 20px 0;
}

